* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Sixtyfour+Convergence&display=swap');

#nav-div {
  min-width: 60%;
}
nav {
  background-color: #846c5b;
  display: flex;
  gap: 90px;
}
button {
  background-color: rgb(162, 195, 221);
  border: 2px solid white;
  border-radius: 100%;
  padding: 0.7em;
  margin-left: auto;
}
button:hover,
.nav_a:hover {
  background-color: rgba(67, 163, 182, 0.94);
  color: aliceblue;
}
.nav_a {
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin: 20px 0 20px 10px;
  background-color: rgb(162, 195, 221);
  border: 2px solid white;
  border-radius: 25px;
}
.date {
  min-height: 5vh;
  background-color: whitesmoke;
}
#date {
  display: block;
  text-align: center;
  padding: 10px;
  font-family: "Playwrite Hrvatska Lijeva";
  font-size: 3em;
  color: rgb(3, 41, 41);
}

.input {
  text-align: center;
  font-size: 2em;
  padding: 10px;
  background-color: #BEB7A4;
}
#input-box {
  width: 24em;
    font-size: 30px;
  }
  
  .list {
    min-height: 70vh;
    background-color: #d5d8d8;
    border-radius: 50px;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    padding: 25px;
  }
  section{
    padding: 40px;
    background-color: #46536277;
  }
  
  .list p{
    display: inline-block;
    /* border: 2px solid #979B8D;
    border-radius: 20px; */
    font-size: 2rem;
  }
  .checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid black;
  }
  .checkbox:hover{
    background-color: chartreuse;
  }
  .activity{
    display: block;
    margin-top: 10px;
    width: 90%;
    background-color: azure;
    gap: 20px;
    padding: 13px;
  border: 2px solid #979B8D;
  border-radius: 20px;
  max-height: 4.5em;
}

footer {
    min-height: 50px;
    background-color: blanchedalmond;
    text-align: center;
  }
  footer p {
    padding: 10px;
    color: #000;
  }